@{
    ViewData["Title"] = "Accueil";
}

<div class="align-bottom-center text-center">
    <h1 class="display-4">Domiciel</h1>
    <p>Simplifier la gestion et l'organisation de votre domicile.</p>
</div>